.button-green {
    background-color: white;
    color: #8BD072;
    border-color: #8BD072;
    border-radius: 1em;
    font-size: 1em;
    padding: 0.4em 1.5em;
    border: 1px solid;
}
.button-red {
    background-color: white;
    color: #EA7070;
    border-color: #EA7070;
    border-radius: 25px;
    font-size: 1em;
    padding: 0.4em 1.5em;
    border: 1px solid;
}
button[disabled] {
    color: #999999;
    border-color: #999999;
}
